test/split-example/inline.ent

<!--~~ !module inline.ent
This module defines the elements that can be used inline in a description.
~~-->

<!--~~ %inline;
Example parameter entity.  This is a list of elements that can be included inline
within a <banana> element.
~~-->

<!ENTITY % inline "em | strong | i | img" >


<!ELEMENT em (#PCDATA|%inline;)* >

<!ELEMENT strong (#PCDATA|%inline;)* >

<!ELEMENT i (#PCDATA|%inline;)* >

<!ELEMENT img EMPTY >
<!ATTLIST img src CDATA #REQUIRED >

