test/xml2json/sample4.dtd

<!-- DocSum DTD for all sequence databases -->

<!--~~ <Result>

~~tags
root
~~json
<json resulttype='summary' version='0.2' />
~~-->
<!ELEMENT Result (DocumentSummarySet?)>

<!--~~ <DocumentSummarySet>

~~json
<object/>
~~-->
<!ELEMENT DocumentSummarySet (DocumentSummary)*>
<!ATTLIST DocumentSummarySet status CDATA #IMPLIED>

<!--~~ <DocumentSummary>

~~json
<object name='\@uid'/>
~~-->
<!ELEMENT DocumentSummary 
    (   Title
      | Gi
      | Statistics
      | Properties
      | OSLT
      | splits
    )*>
<!ATTLIST DocumentSummary uid CDATA #IMPLIED>

<!ELEMENT Title   (#PCDATA)>

<!--~~ <Gi>

~~json
<number/>
~~-->
<!ELEMENT Gi         (#PCDATA)>

<!ELEMENT   Statistics  (Stat)+>

<!ELEMENT   Stat   EMPTY>

<!--~~ @count

~~json
<number/>
~~-->
<!ATTLIST   Stat
  type      CDATA  #IMPLIED
  count     CDATA  #IMPLIED>

<!ELEMENT Properties (#PCDATA)>

<!--~~ @aa

~~json
<number/>
~~-->
<!--~~ @qual

~~json
<number/>
~~-->
<!ATTLIST Properties
  aa        CDATA       #IMPLIED
  qual      CDATA       #IMPLIED>

<!ELEMENT   OSLT        (#PCDATA)>

<!--~~ @indexed

~~json
<boolean/>
~~-->
<!ATTLIST   OSLT
  indexed   CDATA       #IMPLIED>

<!ELEMENT splits (split)+>
<!ELEMENT split (instrument)>
<!ATTLIST split
  name CDATA #IMPLIED
  hobby CDATA #IMPLIED>
<!ELEMENT instrument (#PCDATA)>

<!-- Test "unknown"  -->
<!ELEMENT Unknowable (splits+|split+)>

<!-- Test "ignore"  -->
<!--~~ <Ignoreable>

~~json
<ignore/>
~~-->
<!ELEMENT Ignoreable (splits+|split+)>
 
 
 
 